/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
}

body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select {
    font: inherit;
}

a button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

footer {
    margin-top: 6rem;
}

.no-session {
    margin: 15.7rem;
    text-align: center;
}

@media(min-width: 375px) {
    .no-session {
        margin: 8rem 1.7rem 8rem 1.7rem;
        text-align: center;
    }
}

@media(min-width: 480px) {
    .no-session {
        margin: 8rem 1rem 8rem 1rem;
        text-align: center;
    }
}

@media(min-width: 640px) {
    .no-session {
        margin: 14.6rem;
        text-align: center;
    }
}

/* header site */

.menu-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 0.5rem;
}

.logo-container {
    order: 1;
    flex-shrink: 0;
}

.logo-header {
    width: 100px;
}

.menu {
    order: 3;
    display: flex;
    list-style: none;
    align-items: center;
}

.menu li {
    display: flex;
    align-items: center;
}

.menu a {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
}

.profile {
    width: 40px;
    height: 40px;
    border: 2px solid #9a9a9a;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.welcome_user {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
}

.welcome {
    color: #9a9a9a;
}

.user {
    color: #000;
}

.drop-down {
    border-color: transparent;
    background: none;
}

/* Media Queries */
@media(min-width: 375px) {
    .menu-container {
        padding: 1rem;
    }

    .logo-container {
        margin: auto;
    }

    .search-form {
        margin: 1rem 1rem 0 1rem !important;
    }

    .menu {
        margin: auto;
    }
}

@media(min-width: 480px) {
    .menu-container {
        padding: 1rem;
    }

    .logo-container {
        margin: auto;
    }

    .search-form {
        margin: 1rem 1rem 0 1rem !important;
    }

    .menu {
        margin: auto;
    }
}

@media(min-width: 640px) {
    .menu {
        order: 3;
        padding-left: 0.625rem;
        margin-bottom: 0.5rem;
    }

    .logo-container {
        flex-grow: 1;
    }
}

@media(min-width: 768px) {
    .menu {
        border-left: 0.0625rem solid #efefefff;
    }
}

/* search input */

.search-form {
    order: 3;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 0.3125rem;
}

.search-form input[type="text"] {
    border-radius: 2.25rem 0 0 2.25rem;
    border: none;
    background-color: #efefefff;
    min-width: 10rem; /* 250px */
    border-right: 0.0625rem;
    padding: 0.625rem;
}

.search-form button {
    border-radius: 0 2.25rem 2.25rem 0;
    border: none;
    padding: 0.625rem;
}

@media(min-width: 640px) {
    .search-form {
        order: 2;
        width: auto;
        padding-right: 0.625rem;
    }
}

/* slide */

.carousel-caption {
    background-color: black;
    opacity: 0.7;
    position: absolute !important;
    right: 60% !important;
    left: 5% !important;
    bottom: 6rem !important;
    padding: 1rem !important;
    box-sizing: border-box !important;
}

.carousel-caption .content-caption {
    margin: 2rem;
    text-align: justify;
}

.carousel-caption a {
    border-radius: 2.25rem;
    border: solid 1px #efefef;
    padding: 0.625rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

.carousel-caption a span {
    margin: 1rem;
}

.carousel-indicators {
    display: inline-table;
    background-color: white !important;
    border-radius: 2rem;
    padding: 0.4rem 0.5rem 0 0.4rem;
    margin: 0 auto;
    width: auto;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: gray;
    margin: 0 5px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators button {
    background-color: black !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    border: none !important;
    color: white !important;
    text-align: center !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    line-height: 50px !important;
}

.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

@media(min-width: 375px) {
    .img-slide {
        height: 20rem;
    }
}

@media(min-width: 768px) {
    .img-slide {
        height: 30rem;
    }
}

/* card courses */

.all-courses {
    padding: 3.3rem 3.5rem 0.3rem 3.5rem;
    display: grid;
    background-color: #efefef;
}

.title-courses {
    border-bottom: 1px solid #9a9a9a;
}

.title-courses h3 {
    font-weight: bold;
    color: #777575;
}

.courses-list {
    padding-top: 2%;
}

.course {
    display: flex;
    margin: unset !important;
}

.card-course {
    width: 18rem;
    margin-bottom: 10%;
    border-radius: inherit;
}

.card-body .card-title {
    font-weight: bold;
}

.card-body .card-text {
    color: #9a9a9a;
}

.card-text {
    height: 4rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.card-body a {
    background-color: #18b427;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    width: 15rem;
}

.add-course {
    width: 18rem;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: inherit;
    border-style: dashed;
}

.add-course a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.add-course img {
    cursor: pointer;
    width: 10rem;
    padding-top: 4rem;
    margin-bottom: 10px;
}

.add-course span, .add-course h5 {
    font-weight: bold;
    color: #9a9a9a;
}

@media(min-width: 375px) {
    .all-courses {
        padding: 30px 30px 30px 30px;
    }

    .card-body a {
        width: 16rem;
    }
}

@media(min-width: 480px) {
    .all-courses {
        padding: 30px 30px 30px 30px;
    }

    .course {
        margin: 10px 55px 0 55px;
    }

    .card-body a {
        width: 16rem;
    }
}

@media(min-width: 640px) {
    .all-courses {
        padding: 30px 30px 30px 30px;
    }

    .course {
        margin: 10px 115px 0 115px;
    }

    .card-body a {
        width: 13.3rem;
    }

    .title-courses {
        width: 88%;
    }
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    color: #9a9a9a;
    background-color: white;
}

.logo-footer {
    width: 25%;
}

footer .sub-title {
    color: #535353;
    font-size: 13px;
    font-weight: bold;
}

footer .content-wrapper {
    flex-grow: 1;
    align-items: center;
}

footer .content-wrapper .left-content,
footer .content-wrapper .right-content {
    text-align: left;
    padding: 0.625rem;
}

footer .content-wrapper .left-content p {
    font-size: 0.8rem;
    padding-top: 1.2rem;
}

footer .content-wrapper .right-content article {
    margin: 0.625rem 0;
}

footer .content-wrapper .right-content p {
    font-weight: bold;
}

footer > p {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.625rem;
    background-color: #efefef;
}


.social-icons {
    text-align: center;
    margin-top: 1rem;
}

.icons {
    display: inline-block;
    border-radius: 50%;
    background-color: #9a9a9a;
}

.icons-social {
    margin: 0.5rem;
}

@media(min-width: 375px) {
    .right-content {
        text-align: center !important;
    }
}

@media(min-width: 480px) {
    .right-content {
        text-align: center !important;
    }
}

@media(min-width: 640px) {
    .footer-copyright {
        margin: auto;
    }
}

@media(min-width: 980px) {
    footer .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 1.3rem 3.5rem 0.3rem 3.5rem;
    }

    footer .content-wrapper .left-content {
        max-width: 20rem;
        flex-grow: 1;
        text-align: left;
    }

    footer .content-wrapper .right-content {
        display: flex;
        flex-grow: 0;
    }

    footer .content-wrapper .right-content article {
        margin: 0.652rem;
    }

    footer .footer-copyright {
        width: 100%;
        background-color: #efefef;
        padding: 0.625rem;
        color: #9a9a9a;
    }

    footer .footer-copyright p {
        margin-bottom: 0 !important;
        padding-left: 3.2rem;
    }
}

/* modals */

.modal-img-top {
    display: block;
    padding: 1rem 6rem 1rem 5rem;
}

/*modal init access*/
.modal-dialog {
    position: relative;
}

.button-close-model {
    background-color: white;
    border-radius: 50%;
    position: fixed !important;
    left: 76%;
    bottom: 95%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-init {
    margin: 2rem 8rem 2rem 7rem;
    text-align: center;
}

.title-modal-init {
    font-weight: bold;
}