/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-size: 100%;
    line-height: 1.5;
}

body {
    font-family: sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

input, button, textarea, select {
    font: inherit;
}

a {
    text-decoration: none;
    color: inherit;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* header site */

.menu-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: white;
    padding-bottom: 0.3125rem;
}

.menu-container .logo-container {
    order: 1;
}

.logo-header {
    width: 15%;
}

.menu {
    order: 2;
    display: flex;
    list-style: none;
}

.menu li {
    display: inline-flex;
    align-items: center;
}

.menu .profile {
    width: 50px;
    height: 50px;
    display: inline-block;
    border: 3px solid #9a9a9aff;
    border-radius: 50%;
    margin-right: 0.3125rem;
}

.menu .welcome_user {
    display: inline-flex;
    flex-direction: column;
    margin-right: 0.3125rem;
}

.menu .welcome {
    font-size: 0.8rem;
    color: #9a9a9aff;
}

.menu .user {
    color: #000000;
}

.menu .drop-down {
    border-color: white !important;
}

/* Media Queries */
@media(min-width: 480px) {
    .menu-container {
        padding: 0.3125rem 4rem 0.3125rem 4rem;
    }
}

@media(min-width: 640px) {
    .menu {
        order: 3;
        padding-left: 0.625rem;
        border-left: 0.0625rem solid #efefefff;
        margin-bottom: 0.5rem;
    }

    .logo-container {
        flex-grow: 1;
    }
}

/* search input */

.search-form {
    order: 3;
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 0.3125rem;
}

.search-form input[type="text"] {
    border-radius: 2.25rem 0 0 2.25rem;
    border: none;
    background-color: #efefefff;
    min-width: 10rem; /* 250px */
    border-right: 0.0625rem;
    padding: 0.625rem;
}

.search-form button {
    border-radius: 0 2.25rem 2.25rem 0;
    border: none;
    padding: 0.625rem;
}

@media(min-width: 640px) {
    .search-form {
        order: 2;
        width: auto;
        padding-right: 0.625rem;
    }
}

/* slide */

.img-slide {
    height: 30rem !important;
}

.carousel-caption {
    background-color: black;
    opacity: 0.7;
    position: absolute !important;
    right: 60% !important;
    left: 5% !important;
    bottom: 6rem !important;
    padding: 1rem !important;
    box-sizing: border-box !important;
}

.carousel-caption .content-caption {
    margin: 2rem;
    text-align: justify;
}

.carousel-caption a {
    border-radius: 2.25rem;
    border: solid 1px #efefef;
    padding: 0.625rem;
    font-weight: bold;
}

.carousel-caption a span {
    margin: 1rem;
}

.carousel-indicators {
    display: inline-table;
    background-color: white !important;
    border-radius: 2rem;
    padding: 0.4rem 0.5rem 0 0.4rem;
    margin: 0 auto;
    width: auto;
}

.carousel-indicators li {
    width: 12px;
    height: 12px;
    background-color: gray;
    margin: 0 5px;
    border-radius: 50%;
}

.carousel-indicators .active {
    background-color: black;
}

.carousel-indicators button {
    background-color: black !important;
    width: 20px !important;
    height: 20px !important;
    border-radius: 50% !important;
    border: none !important;
    color: white !important;
    text-align: center !important;
    display: inline-block !important;
    font-size: 16px !important;
    cursor: pointer !important;
    line-height: 50px !important;
}

.carousel-control-prev {
    width: 5%;
}

.carousel-control-next {
    width: 5%;
}

/* card courses */

.all-courses {
    padding: 3.3rem 3.5rem 0.3rem 3.5rem;
    display: grid;
    background-color: #efefef;
}

.title-courses {
    border-bottom: 1px solid #9a9a9a;
}

.title-courses h3 {
    font-weight: bold;
    color: #777575;
}

.courses-list {
    padding-top: 2%;
}

.course {
    display: flex;
}

.card-course {
    width: 18rem;
    margin-bottom: 10%;
}

.card-body .card-title {
    font-weight: bold;
}

.card-body .card-text {
    color: #9a9a9a;
}

.card-body a {
    background-color: #18b427;
    color: white;
    font-weight: bold;
    border-radius: 2rem;
    width: 15rem;
}

.add-course {
    width: 18rem;
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.add-course a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: inherit;
}

.add-course img {
    cursor: pointer;
    width: 10rem;
    padding-top: 4rem;
    margin-bottom: 10px;
}

.add-course span, .add-course h5 {
    font-weight: bold;
    color: #9a9a9a;
}

/* footer */

footer {
    display: flex;
    flex-wrap: wrap;
    color: #9a9a9a;
    background-color: white;
}

.logo-footer {
    width: 25%;
}

footer .sub-title {
    color: #535353;
    font-size: 13px;
    font-weight: bold;
}

footer .content-wrapper {
    flex-grow: 1;
    align-items: center;
}

footer .content-wrapper .left-content,
footer .content-wrapper .right-content {
    text-align: left;
    padding: 0.625rem;
}

footer .content-wrapper .left-content p {
    font-size: 0.8rem;
    padding-top: 1.2rem;
}

footer .content-wrapper .right-content article {
    margin: 0.625rem 0;
}

footer .content-wrapper .right-content p {
    font-weight: bold;
}

footer > p {
    flex-grow: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.625rem;
    background-color: #efefef;
}


.social-icons {
    text-align: center;
    margin-top: 1rem;
}

.icons {
    display: inline-block;
    border-radius: 50%;
    background-color: #9a9a9a;
}

.icons-social {
    margin: 0.5rem;
}

@media(min-width: 960px) {
    footer .content-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
        padding: 1.3rem 3.5rem 0.3rem 3.5rem;
    }

    footer .content-wrapper .left-content {
        max-width: 20rem;
        flex-grow: 1;
        text-align: left;
    }

    footer .content-wrapper .right-content {
        display: flex;
        flex-grow: 0;
    }

    footer .content-wrapper .right-content article {
        margin: 0.652rem;
    }

    footer .footer-copyright {
        width: 100%;
        background-color: #efefef;
        padding: 0.625rem;
        color: #9a9a9a;
    }

    footer .footer-copyright p {
        margin-bottom: 0 !important;
        padding-left: 3.2rem;
    }
}
